<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    
    <!--<bindings>
      <customBinding>
        <binding name="BasicHttpBinding_IRedPill_policy">
          <httpTransport />
        </binding >
      </customBinding >
    </bindings>-->

    <!--<bindings>
      <wsHttpBinding>
        <binding name="BasicHttpsBinding_IRedPill_policy">
          <security>
            <message negotiateServiceCredential="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>-->

    <!--<services>
      <service name="Readify.Service.RedPill" behaviorConfiguration="RedPillBehavior">
        --><!-- Service Endpoints --><!--
        <endpoint address="" binding="basicHttpBinding" bindingName="BasicHttpsBinding_IRedPill_policy" contract="Readify.Service.IRedPill">
          <identity>
            <dns value="http://redpill-3.apphb.com/"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>-->
    
    <behaviors>
      <serviceBehaviors>
        <!--<behavior name="RedPillBehavior">-->
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>        
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <!--<add binding="basicHttpsBinding" scheme="https" />-->
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
